.form-control {
  border: 1px solid #A2A2A2;
}

.table-condensed > tbody > tr > th,
.table-condensed > tbody > tr > td,
.table-condensed > thead > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tfoot > tr > th,
.table-condensed > tfoot > tr > td,
.table-condensed > tr > td,
.table-condensed > tr > th {
  padding-bottom: 0px;
  padding-top: 0px;
}

.cursor {
  cursor: pointer;
}

.flotante-izquierdo {
  bottom: 15px;
  left: 10px;
}

.flotante-derecho {
  bottom: 15px;
  right: 10px;
}

.avatar {
  width: 1rem;
}

.font-small {
  font-size: small;
}

.hvrs_blue:hover {
  box-shadow: 5px 10px 18px #4fc3f7;
}

.hvrs_blue:active {
  box-shadow: 5px 10px 18px #eeff41;
}

.th-estatico {
  position: sticky;
  top: 0;
  z-index: 2;
}

.text-checklist {
  font-size: 4rem;
}

.label-checklist {
  font-size: 3rem;
}

.txts_gray {
  text-shadow: 2px 2px 8px #d2d4d4;
}

.text-small{
  font-size: .9rem;
}

/* ------Uploader------ */
.my-drop-zone { border: dotted 3px lightgray; }
.nv-file-over { border: dotted 3px red; }


.rbc-time-content{
  display:none;
}

.superposicion{
  z-index:-1;
  position: relative;
}

.w-85{
  width: 85%;
}
.w-80{
  width: 80%;
}

.home{
 width: 200px;
 height: 200px;
}
.cuerpo{
  font-size: small;
}
.btn-circle.btn-lg {
  margin:1%;
  font-size: 18px;
  line-height: 1.33;
  /* border-radius: 25px; */
  /* position: absolute; */
  float:left;
  opacity:0.6;
  background-color: #45526e;
  color:#FFF;
  width: 98%;
  display:flex;
  flex-direction: column;
}

.input-sm{
  padding: 0%;
  padding-left: 5%;
  margin: 0%;
  font-size: .8rem;
  height: 25px;
  width: 100%;
}
.input-md{
  padding: 0%;
  padding-left: 10%;
  margin: 0%;
  font-size: .8rem;
  height: 25px;
  width: 100%;
}
.celda-md{
  padding: 0%;
  margin: 0%;
  width: 40%;
}
.celda-xm{
  padding: 0%;
  margin: 0%;
  width: 33%;
}
.celda-preparador{
  padding: 0%;
  margin: 0%;
  width: 16%;
}
.celda-cantidad{
  padding: 0%;
  margin: 0%;
  width: 12%;
}
.celda-titulo{
  padding: 0%;
  margin: 0%;
  width:6%;
}
.celda-vacia{
  padding: 0%;
  margin: 0%;
  width:1%;
}



/* Para rotar los encabezados */
.table-header-rotated th.row-header{
  width: auto;
}

.table-header-rotated td{
  width: 40px;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  vertical-align: middle;
  text-align: center;
}

.table-header-rotated th.rotate-45{
  height: 120px;
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  position: relative;
  vertical-align: bottom;
  padding: 0;
  font-size: 12px;
  line-height: 0.8;
}

.table-header-rotated th.rotate-45 > div{
  position: relative;
  top: 0px;
  left: 0px; /* 80 * tan(45) / 2 = 40 where 80 is the height on the cell and 45 is the transform angle*/
  height: 100%;
  -ms-transform:skew(-45deg,0deg);
  -moz-transform:skew(-45deg,0deg);
  -webkit-transform:skew(-45deg,0deg);
  -o-transform:skew(-45deg,0deg);
  transform:skew(-0deg,0deg);
  overflow: hidden;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}

.table-header-rotated th.rotate-45 span {
  -ms-transform:skew(45deg,0deg) rotate(270deg);
  -moz-transform:skew(45deg,0deg) rotate(270deg);
  -webkit-transform:skew(45deg,0deg) rotate(270deg);
  -o-transform:skew(45deg,0deg) rotate(270deg);
  transform:skew(0deg,0deg) rotate(270deg);
  position: absolute;
  bottom: 50px; /* 40 cos(45) = 28 with an additional 2px margin*/
  left: -25px; /*Because it looked good, but there is probably a mathematical link here as well*/
  display: inline-block;
  width: 85px; /* 80 / cos(45) - 40 cos (45) = 85 where 80 is the height of the cell, 40 the width of the cell and 45 the transform angle*/
  text-align: left;
}


/*Para la piramide*/
.barraPiramide{
  border: #000 solid 2px;
  padding:.5%;
  float: left;
  clear:left;
  display: block;
  margin-top:4px;
}
.barra1{background-color: #C00000; width:60%; margin-left:20%}
.barra2{background-color: #F80000; width:70%; margin-left:15%}
.barra3{background-color: #F8C000; width:80%; margin-left:10%}
.barra4{background-color: #F8F800; width:90%; margin-left:5%}
.barra5{background-color: #F8F860; width:100%;}
.cajaBlancaDato{width: 50%; background-color: #fff; color:#000; float: left; font-weight: bold}
.rotuloBlanco{width: 50%; color:#fff; float: left; clear:left}
.rotuloNegro{width: 50%; color:#000; float: left; clear:left }
.etiqueta{width:100%; float:left; font-size: 1em;clear:left; text-align: center}
